<div id="wrapper">

	<div id="sidebar">
		<div id="widget" class="sticky">

		</div>
	</div>

	<div id="article">

		<div class="row">
			<%= search_form_for @search, url: search_path do |f| %>

				<div class="row">
					<div class="col-md-3">
						<%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control" %>
					</div>
					<div class="col-md-3">
						<%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control" %>
					</div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Item Type</label>
              <%= f.select :item_type_gteq, [["Electronics", "Electronics"], ["Tools & Equipment", "Tools & Equipment"], ["Home Appliances", "Home Appliances"], ["Event Items", "Event Items"], ["Transport", "Transport"]], prompt: "Select...", class: "form-control" %>
            </div>
          </div>

          <div class="row">
  					<%= f.submit "Search", class: "btn btn-primary" %>
  				</div>

  			<% end %>
  		</div>

  	</div>

  </div>

  <script>
  	$(function() {
  		$("#start_date").datepicker({
  			dateFormat: 'dd-mm-yy',
  			minDate: 0,
  			maxDate: '3m',
  			onSelect: function(selected) {
  				$('#end_date').datepicker("option", "minDate", selected);
  				$('#end_date').attr('disabled', false);
  			}
  		});

  		$("#end_date").datepicker({
  			dateFormat: 'dd-mm-yy',
  			minDate: 0,
  			maxDate: '3m',
  			onSelect: function(selected) {
  				$('#start_date').datepicker("option", "maxDate", selected);
  			}
  		});
  	})
  </script>
